.category-container {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  flex-wrap: wrap; 
  margin: 5px;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer; 
  p{
    font-size: 0.9m;
  }
}

.category img {
  width: 35px;
  height: 35px; 
  border-radius: 50%; 
  object-fit: cover;
}
.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-images {
  width: 100%;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: auto;
}