<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/cart']">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
        <!-- <span *ngIf="cartItemCount" class="cart-count">{{ cartItemCount }}</span> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <div class="category-container">
      <div class="category" (click)="goToCategory('sale')">
        <img src="./assets/img/sale.avif" alt="Sale" />
        <p>Sale</p>
      </div>
      <div class="category" (click)="goToCategory('men')">
        <img src="./assets/img/men.avif" alt="Men" />
        <p>Men</p>
      </div>
      <div class="category" (click)="goToCategory('women')">
        <img src="./assets/img/women.avif" alt="Women" />
        <p>Women</p>
      </div>
      <div class="category" (click)="goToCategory('kids')">
        <img src="./assets/img/kids.avif" alt="Kids" />
        <p>Kids</p>
      </div>
      <div class="category" (click)="goToCategory('unisex')">
        <img src="./assets/img/unisex.avif" alt="Unisex" />
        <p>Unisex</p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <img src="./assets/img/lastfewhours.webp" alt="">
  </div>

  <div class="carousel" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event, 1)" (touchend)="onTouchEnd()">
    <div class="carousel-images">
      <img [src]="carouselImages1[currentIndex1]" alt="Carousel Image 1" class="carousel-image" />
    </div>
  </div>

  <img src="./assets/img/topratedpicks.avif" alt="">

  <img src="./assets/img/e-giftcards.avif" alt="">

  <div>
    <img src="./assets/img/upcomingDeal.avif" alt="">
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <img src="./assets/img/ethnic.jpg" alt="Ethnic Wear" class="thumbnail" />
      </ion-col>
      <ion-col size="4">
        <img src="./assets/img/smarttess.jpg" alt="Smart Tess" class="thumbnail" />
      </ion-col>
      <ion-col size="4">
        <img src="./assets/img/shirts.jpg" alt="Shirts" class="thumbnail" />
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="4">
        <img src="./assets/img/jeans.jpg" alt="Jeans" class="thumbnail" />
      </ion-col>
      <ion-col size="4">
        <img src="./assets/img/trousers.jpg" alt="Trousers" class="thumbnail" />
      </ion-col>
      <ion-col size="4">
        <img src="./assets/img/kidss.jpg" alt="Kids Wear" class="thumbnail" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="carousel" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event, 2)" (touchend)="onTouchEnd()">
    <div class="carousel-images">
      <img [src]="carouselImages2[currentIndex2]" alt="Carousel Image 2" class="carousel-image" />
    </div>
  </div>
</ion-content>
