<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="hero">
    <div class="hero-overlay">
      <div class="hero-content">
        <!-- <ion-avatar class="avatar">
          <img src="assets/batman-logo-png.png" alt="Profile Picture" />
        </ion-avatar> -->
        <h1>Hi, I'm Gundu Saivenkat Varma</h1>
        <p>A passionate Software Engineer based in Hyderabad</p>
        <ion-button expand="full" routerLink="/projects">View My Projects</ion-button>
      </div>
    </div>
  </section>
  
  <section class="about">
    <div class="about-overlay">
      <div class="about-content">
        <h2>About Me</h2>
        <p>
          I specialize in creating engaging web and application solutions with a keen eye for design and user experience. My journey includes building responsive applications and integrating innovative technologies.
        </p>
      </div>
    </div>
  </section>
</ion-content>

